libft/*.o
libftprintf.a
ft_printf.dSYM/
libftprintf.a
ft_printf
*.o
./eval_tests/42FileChecker
a.out
printf.txt
ft_printf.txt

.vscode/configurationCache.log
.vscode/dryrun.log
./vscode/targets.log
printf.txt
ft_printf.txt
