libft/*.o
libft/libft.a

libftprintf.a
ft_printf.dSYM/
ft_printf
*.o
./eval_tests/42FileChecker
a.out

printf.txt
ft_printf.txt

.vscode/configurationCache.log
.vscode/dryrun.log
./vscode/targets.log

test_printf/
